@import "./../../styles/variables";

.searchingModalSection {
  position: absolute;
  width: 76%;
  min-height: 75px;
  max-height: 750px;
  background-color: $accentColor;
  z-index: 4;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  border-radius: 20px;
  box-shadow: $shadow;
  padding: 11px 0 0 11px;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 99%;
    height: 25px;
    border: none;
    border-bottom: 1.5px #ababab solid;
    font-size: 20px;
    font-weight: 700;
    background-color: $accentColor;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  input:focus {
    outline: none;
  }
}

.searchingResult {
  width: 100%;
  overflow-y: scroll;

  h4 {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}

.searchingResult::-webkit-scrollbar {
  width: 11px;
}

.searchingResult::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  background-clip: content-box;
  border-radius: 5px;
  width: 5px;
}

.searchingItemSection {
  width: 99.9%;
  height: 45px;
  margin: 8px auto;
  display: flex;
  align-items: center;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;

  h3 {
    width: inherit;
    margin: 0 10px;
  }
}

.searchingItemSection:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 2px;
}

.searchTime {
  width: 98%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 11px;

  h4 {
    margin: 0;
    font-size: 14px;
  }

  div:first-child {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  div:last-child {
    width: 96px;
  }
}

.searchInputBox {
  width: 99%;
  padding-right: 12px;
  display: flex;
  justify-content: center;
}



