.taskCardSection {
  margin: 0 0 8px;
  width: 100%;
  min-height: 50px;
  background-color: #F1F1F1;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  h4 {
    font-weight: 500;
    font-size: 20px;
    margin: 0 16px;
  }

  button {
    div {
      background-color: black;
    }
  }
}

.taskCardSection:first-child {
  margin-top: 0;
}

.moreTaskCardButton {
  margin: 0;
}