.taskColumnSection {
  width: 436px;
}

.taskColumnHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px 12px 0 0;
  height: 47px;

  h4 {
    margin: 0;
  }
}

.taskColumnContent {
  border-radius: 0 0 12px 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
}

