@import "../../styles/variables";

.subjectItemSection {
  width: 410px;
  height: 154px;
  border-radius: 26px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;


  a {
    position: relative;
    padding: 25px 24px;
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
      font-weight: 700;
      font-size: 30px;
      margin: 0 0 11px;
    }

    h4 {
      margin: 0;
      font-weight: 500;
      font-size: 15px;
    }
  }
  transition-duration: 0.4s;
}

.subjectInfo {
  width: 75%;
}

.subjectCounter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin: 0;
    font-size: 71px;
    font-weight: 30;
  }
}

.subjectItemSection:hover {
  box-shadow: $shadow;
  transition-duration: 0.4s;
  cursor: pointer;
}

.teacherNames {
  display: flex;
  flex-direction: column;
}

@keyframes removeMode {
  0% {
    transform: rotate(1deg)
  }
  25% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(-1deg)
  }
  75% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(1deg)
  }
}

.onRemove {
  animation: 0.4s linear infinite alternate removeMode;
}

.removeItemButton {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: none;
  right: -10px;
  top: -10px;
  z-index: 2;

  span {
    font-size: 40px;
    transform: rotate(45deg);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.removeModal {
  position: absolute;
  background-color: $accentColor;
  box-shadow: $shadow;
  width: 320px;
  height: 120px;
  top: 50%;
  left: 50%;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 2;

  h4 {
    font-size: 16px;
    margin-top: 15px;
    margin-inside: 15px;
  }
}

.removeModalBtnGroup {
  margin-top: 25px;
  width: 90%;
  display: flex;
  justify-content: space-around;

  button {
    padding: 10px 30px;
  }
}

.removeModalBlur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(1.5px);
}

@media only screen and (max-width: 1350px) {
  .subjectItemSection {
    width: 49%;
  }
}

@media only screen and (max-width: 980px) {
  .subjectItemSection {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
  }
}

