.taskSection {
  width: 100%;
}

.taskHeading {
  height: 101px;
  border-radius: 17px;
  padding: 22px;
  position: relative;

  h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
  }
}

.taskHeadingTeachersList {
  display: flex;
  justify-content: left;

  h3 {
    margin-right: 10px;
  }
}

.taskCounter {
  position: absolute;
  right: 22px;
  top: 95px;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}