.taskSection {
  width: 100%;
}

.taskHeading {
  height: 101px;
  border-radius: 17px;
  padding: 22px;
  position: relative;
  z-index: 2;

  h2 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
  }
}

.taskHeadingTeachersList {
  display: flex;
  justify-content: left;

  h3 {
    margin-right: 10px;
  }
}

.taskCounter {
  position: absolute;
  right: 120px;
  top: 65px;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.taskFormAndColumns {
  position: relative;
  bottom: 90px;
  transition-duration: 0.2s;
}

.formVisible {
  bottom: 0;
  transition-duration: 0.2s;
}

.taskColumns {
  width: inherit;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
