@import "../../styles/variables";

.addModalSection {
  width: 450px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-48%, -50%);
  border-radius: 26px;
  box-shadow: $shadow;
  padding: 20px 15px;
  background-color: #F0F0F0;
  z-index: 4;
  transition-duration: 0.5s;
}

.addModalForm {
  display: flex;
  flex-direction: column;

  label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
  }
}

.colorAttributes {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

#teacherName {
  margin-bottom: 8px;
}

.modalInput:focus {
  outline: none;
}

.modalRange {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.submitButton {
  border-color: black;
  background-color: aqua;
}

.addModalBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  backdrop-filter: blur(1px);
}


